# Resend Configuration
RESEND_API_KEY=<your resend api key>
RESEND_FROM_EMAIL=karan.kendre@keizerworks.com
RESEND_TO_EMAIL=karankendreg@gmail.com

# Lingo.dev Configuration
NEXT_PUBLIC_LINGODOTDEV_API_KEY=<your lingo.dev api key>

